html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    min-width:100vh;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  .py1{padding-top: 10px;}
  .py2{padding-top: 20px;}
  .py5{padding-top: 50px;}

.text-primary{
    font-size: 25px;
    margin-left: 25px;
    font-family: 'Courgette', cursive;
}
.text-small{
    font-size:18px;
    text-align: center;
    font-family:'Roboto Mono', monospace;
    color: #000;
}
.lead{
    font-size:30px;
    text-align: center;
    font-family:'Roboto Mono', monospace;
    color: #000;
    margin: 5px;
}
.title-text{
    font-size: 4rem;
    text-align: center;
    font-family:'Roboto Mono', monospace;
    color: #000;
    text-shadow: -5px 5px yellow;
}
.container{
    display: flex;
    flex-direction: column;
    height:auto;
    width: auto;
    justify-content: center;
    align-items: center;
}
.btn-light{
    background:#89b5f0;
    font-family:'Roboto Mono', monospace;
    padding: 3px;
    border-radius: 5px;
    border-bottom:4px solid #b5f089;
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
    animation:bouncy 5s infinite linear;
}
@keyframes bouncy {
    0%   {top: 5px;}
    40%  {top: 5px;}
    43%  {top: -3px;}
    46%  {top: 5px;}
    48%  {top: -4px;}
    50%  {top: 5px;}
    100% {top: 5px;}
}  
/* logo and navigation */
header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    border-bottom:1px solid #fff;
    box-shadow:0px 3px 5px 0px #333;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}
.main-nav{
    margin-right: 20px;

}
.navbar{
    display: flex;
}
.navbar .nav-item{
    padding: 5px;
    margin-left:25px;
    list-style: none;
}
.navbar .nav-item a{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    color: #000;
    font-size:20px;
}
.navbar .nav-item a::after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 3px;
    background: yellow;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    width: 0;
  }
.navbar .nav-item a:hover::after { 
    width: 100%; 
    left: 0; 
  }
/*  */

/* home section */
.home-styling{

    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-styling .container{
    /* homepage background */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.53' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    width: 100%;
    height: 100%;
    position: inherit;
    z-index: -1;
}
.home-styling .container a{
    margin-top:4rem;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.home-styling .parallax-img1{
    position:absolute;
    z-index: -1;
    top: 100px;
    left: 100px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img2{
    position:absolute;
    z-index: -1;
    top: 130px;
    left: 410px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img3{
    position:absolute;
    z-index: -1;
    top: 430px;
    left: 180px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img4{
    position:absolute;
    z-index: -1;
    top: 130px;
    left: 1100px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img5{
    position:absolute;
    z-index: -1;
    top: 400px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img6{
    position:absolute;
    z-index: -1;
    left: 750px;
    width:100px;
    height:100px;
    object-fit: cover;
}
.home-styling .parallax-img7{
    position:absolute;
    z-index: -1;
    top: 500px;
    left: 1000px;
    width:100px;
    height:100px;
    object-fit: cover;
}

/* about-styling */
.about-styling{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.53' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: 110vh;
    width: 100%;
    padding-top:130px;
}
.about-styling .container{
    width: 50%;
    height: 70vh;
    margin: 20px;
    margin-left:45%;
    padding: 10px;
}

.about-styling .about-image{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 200px;
    margin-top:-25%;
    margin-left: 15%;
}



/* cv styling */
.cv-styling{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.53' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    height: auto;
    width: 100%;
}
.cv-styling .container{
    padding-top: 75px;
}
.cv-grid-container{
    display: grid;
    grid-template-columns:1fr 2fr;
    gap: 10px;
    padding: 10px;
    margin:10px;
}
.cv-grid-item{
    border-bottom: 1px dotted rgba(0, 0, 0, 0.8);
    font-size: 25px;
    text-align: center;
    padding-top:5px;
}
.grid-item-box{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding-top: 10px;
}


.progress-bar {
    border-radius: 60px;
    overflow: hidden;
    width: 100%;
}
.progress-bar span {
    display: block;
}
.bar {
    background: rgba(0, 0, 0, 0.075);
}
.progress1, .progress2, .progress3, .progress4,.progress5{
    background: #75b800;
    color: #000;
}
.progress1{width: 85%;animation: fill1 8s ease;}
.progress2{width: 85%;animation: fill2 3s ease;}
.progress3{width: 70%;animation: fill3 7s ease;}
.progress4{width: 70%;animation: fill4 4s ease;}
.progress5{width: 70%;animation: fill5 3s ease;}
@keyframes fill1 {
    0%{width: 0%;}
    80%{width: 85%;}
   }
   @keyframes fill2 {
    0%{width: 0%;}
    80%{width: 85%;}
   }
   @keyframes fill3 {
    0%{width: 0%;}
    80%{width: 70%;}
   }
   @keyframes fill4 {
    0%{width: 0%;}
    80%{width: 70%;}
   }
   @keyframes fill5 {
    0%{width: 0%;}
    80%{width: 70%;}
   }

.cv-grid-item .skills-comunicare{
    margin-top:49rem;
}
.cv-grid-item .skills-digital{
    margin-top: 15rem;
}

.cv-grid-item .skills-digital-container{
margin-top: 2rem;
display: flex;
width: 100%;
height: auto;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.cv-grid-item .skills-digital-box{
    width: 250px;
    height: 180px;
    box-shadow: -2px 2px 5px #555;
    margin: 10px;
}

.skills-permis{
    margin-top: 28rem;
    margin-bottom: 5rem;
}

.contact-styling{
    background: yellow;
    height: 100vh;
    width: 100%;
}


